In [1]:
# 1. 변수 선언 및 자료형

a = 10              # 정수형
b = 3.14            # 실수형
c = "Hello"         # 문자열
d = True            # 불리언
e = [1, 2, 3]       # 리스트
f = (1, 2, 3)       # 튜플
g = {"a": 1}        # 딕셔너리
h = {1, 2, 3}       # 집합

In [2]:
# 2. 조건문 (if, elif, else)

x = 7
if x > 10:
    print("10보다 큽니다")
elif x == 7:
    print("7입니다")
else:
    print("10보다 작습니다")

7입니다

In [3]:
# 3. 반복문 (for, while)

# for문
for i in range(5):
    print(i)  # 0부터 4까지

# while문
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4
0
1
2
3
4

In [4]:
# 4. 함수 정의 (def)

def greet(name):
    return f"안녕하세요, {name}님!"

print(greet("홍준영"))  # 안녕하세요, 홍준영님!

안녕하세요, 홍준영님!

In [5]:
# 5. 리스트

squares = [x ** 2 for x in range(5)]
print(squares)  # [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [6]:
# 6. 예외 처리 (try - except)

try:
    num = int(input("숫자 입력: "))
    print(10 / num)
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")
except ValueError:
    print("숫자를 입력해주세요.")

숫자 입력:  12

0.8333333333333334

In [7]:
# 7. 파일 입출력

# 쓰기
with open("test.txt", "w") as f:
    f.write("Hello, World!")

# 읽기
with open("test.txt", "r") as f:
    content = f.read()
    print(content)

Hello, World!

In [8]:
# 8. 클래스와 객체

class Person:
    def __init__(self, name):
        self.name = name

    def greet(self):
        print(f"안녕하세요, 저는 {self.name}입니다.")

p = Person("준영")
p.greet()

안녕하세요, 저는 준영입니다.

In [9]:
# 9. 주요 내장 함수들

len([1, 2, 3])        # 길이
sum([1, 2, 3])        # 합계
max([1, 5, 3])        # 최댓값
min([1, 5, 3])        # 최솟값
sorted([3, 1, 2])     # 정렬
list("hello")         # 리스트 변환

['h', 'e', 'l', 'l', 'o']

In [10]:
# 10. Lambda (익명 함수) & map/filter

# lambda
add = lambda x, y: x + y
print(add(3, 4))  # 7

# map
nums = [1, 2, 3]
squares = list(map(lambda x: x**2, nums))  # [1, 4, 9]

# filter
even = list(filter(lambda x: x % 2 == 0, nums))  # [2]

7

In [11]:
# 11. 모듈 import

import math
print(math.sqrt(16))  # 4.0

from random import randint
print(randint(1, 10))  # 1~10 사이 랜덤 숫자

4.0
4

In [12]:
# 12. 조건 표현식 (삼항 연산자)

age = 18
status = "성인" if age >= 18 else "미성년자"
print(status)  # 성인

성인